@charset "utf-8";
/* CSS Document */

body{
	font-family: Lato;
	
}
.redirect
{
	text-decoration:none;
	color:#fff;
	
}
.redirect:hover
{
	text-decoration:none;
	color:#efefef;
	background:rgba(128,0,156,1.00);
}
